.list,.newTodo{
    background-color: var(--background-item);
}

.list{
    &__item,&__status{
        padding: .5em 1em;
        border-radius: 5px;
    }

    &__item{
        transition: all .5s;
    }

    &__text{
        margin: 0;
        display: inline-block;
    }

    &__status{
        display: flex;
        justify-content: space-between;
    }
}

.note{
    color: var(--text-secondary2);
}

.check,.cross{
    display: inline-block;
    width: 25px;
    height: 25px;
}

.check{
    border-radius: 50%;
    border: 1px solid var(--text-secondary2);
    transition: all .5s;
    &__active{
        background: linear-gradient(var(--Check));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img{
        background-image: url('/assets/images/icon-check.svg');
        background-repeat: no-repeat;
        background-position: center;

        width: 100%;
        height: 100%;
    }
}

.cross{
    display: flex;
    align-items: center;
    justify-content: center;
    &__img{
        max-width: 100%;
    }
}

.grid{
    display: grid;
    grid-template-columns: 10% 75% 10%;
    align-items: center;
    justify-content: start;

    column-gap: .5em;
    width: 100%;
    box-sizing: border-box;
}