<app-new-work-form [list]="list" (addItem)="pushToList($event)"></app-new-work-form>
<div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
    <div class="list__item" *ngFor="let item of list" cdkDrag>
        <div class="grid">
            <div class="check" (click)="toogleStatus(item.id)" [ngClass]="{'check__active':item.status == true}">
                <div *ngIf="item.status" class="check__img"></div>
            </div>
            <p class="list__text"> {{item.content}} </p>
            <div class="cross" (click)="deleteWork(item.id)">
                <img src="assets/images/icon-cross.svg" alt="cross" class="cross__img">
            </div>
        </div>
    </div>
    <p class="list__status">
        <span>{{ count }} items left</span><span (click)="deleteComplete()">Clear Complete</span>
    </p>
</div>

<app-list-filters [list]="list" (filterBy)="filter($event)"></app-list-filters>

<p class="note">Drag and drop to reorder list</p>