.list{
    border-radius: 8px;
    &__item,&__status{
        padding: 1em;
    }

    &__item{
        border-bottom: 1px solid var(--border);
        background-color: var(--background-item);

        &:nth-child(1){
            border-radius: 8px 8px 0 0;
        }

        &:nth-last-child(1){
            border-radius: 0 0 8px 8px;
        }

        &:active{
            transition: all .25s;
            border-bottom: transparent;
        }
    }

    &__text{
        margin: 0;
        display: inline-block;
        color: var(--text);
        transition: text-decoration .25s, color .25s;

        &:hover{
            color: var(--text-listHover);
        }
        
        &-complete{
            color: var(--text-complete);
            text-decoration: line-through;
            text-decoration-color: var(--border);

            &:hover{
                color: var(--text-complete);
            }
        }
    }

    &__status{
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto 1em auto;
        color: var(--border);

        border-radius: 8px;

        &-hover{
            padding: 1em;
            &:nth-child(1){
                grid-column: 1/2;
                grid-row: 1/2;
                background-color: var(--background-item);
                border-radius: 0 0 0 8px;
            }

            &:nth-last-child(1){
                grid-column: 2/3;
                grid-row: 1/2;

                background-color: var(--background-item);
                border-radius: 0 0 8px 0;

                text-align: right;
                white-space: nowrap;

                &:hover{
                    color: var(--text-listHover);
                }
            }
        }

        &-grid{
            grid-column: 1/3;
            grid-row: 3/4;
        }
    }
}

.note{
    color: var(--text-complete);
    text-align: center;
}

.check,.cross{
    display: inline-block;
    width: 25px;
    height: 25px;
}

.check{
    position: relative;
    z-index: 5;

    border-radius: 50%;
    border: 1px solid var(--border);
    transition: all .5s;
    &__active{
        position: relative;
        z-index: 101;
        background: linear-gradient(var(--Check));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img{
        position: relative;
        z-index: 102;
        background-image: url('/assets/images/icon-check.svg');
        background-repeat: no-repeat;
        background-position: center;

        width: 100%;
        height: 100%;
    }

    &:hover{
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            z-index: -1;
            width: 100%;
            height: 100%;
            border: 1px solid transparent;
            border-radius: 50%;
            background: linear-gradient(var(--background-item),var(--background-item)),
                        linear-gradient(var(--Check));
            background-origin: content-box,border-box;
            background-clip: padding-box,border-box;
            
        }
    }
}

.cross{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    &__img{
        max-width: 100%;
    }
}

.grid{
    display: grid;
    grid-template-columns: 10% 75% 10%;
    align-items: center;
    justify-content: start;

    column-gap: .5em;
    width: 100%;
    box-sizing: border-box;
}

.desactiveHover{
    &:hover{
        &::after{
            display: none;
        }
    }
}

@media screen and (min-width:1024px){
    .list{
        &__status{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            align-items: center;

            background-color: var(--background-item);

            &-hover{
                transition: color .5s;

                &:nth-last-child(1){
                    grid-column: 3/4;
                    cursor: pointer;
                }
            }
            &-grid{
                margin: 0;
                grid-column: 2/3;
                grid-row: 1/2;
            }
        }
    }

    .check{
        cursor: pointer;
    }

    .cross{
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        
        transition: opacity .25s;

        &__active{
            visibility: visible;
            opacity: 1;
        }
    }
}