.newTodo{

    display: grid;
    grid-template-columns: 10% 75% 10%;
    column-gap: .5em;
    align-items: center;
    justify-content: start;

    width: 100%;
    padding: 1em;
    box-sizing: border-box;

    background-color: var(--background-item);
    border-radius: 5px;

    margin-bottom: 1em;
    &__input{
        background-color: transparent;
        border: none;
        color: var(--text-filters);
        
        &:focus{
            color: var(--text-listHover);
        }
    }

    &__check{
        -webkit-appearance: none;

        display: inline-block;
        width: 25px;
        height: 25px;

        border-radius: 50%;
        border: 1px solid var(--border);
        transition: all .5s;

        &-box{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        &:checked{
            background: url('/assets/images/icon-check.svg'),linear-gradient(var(--Check));
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

@media screen and (min-width:1024px){
    .newTodo{
        &__check{
            cursor: pointer;
        }
    }
}