/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body{
    margin: 0;
    min-width: 360px;

    display: flex;
    align-items: center;

    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;

    --Bright-Blue: hsl(220, 98%, 61%);
    --Check: -40deg,hsl(192, 100%, 67%) , hsl(280, 87%, 65%);
}

.lightTheme{
    background-image: url('assets/images/bg-mobile-light.jpg');
    background-color: var(--background);
    background-size: 100% 50%;
    background-repeat: no-repeat;

    --text-primary: white;

    --background: hsl(0, 0%, 98%);
    --background-item: hsl(0, 0%, 100%);
    --border: hsl(233, 11%, 84%);
    --text-complete: hsl(236, 9%, 61%);
    --text-filters: hsl(236, 9%, 61%);
    --text-list: hsl(235, 19%, 35%);
    --text-listHover : black;
}

.darkTheme{
    background-image: url('assets/images/bg-mobile-dark.jpg');
    background-color: var(--background);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    
    --text-primary : white;

    --background: hsl(235, 21%, 11%);
    --background-item: hsl(235, 24%, 19%);

    --text: hsl(234, 39%, 85%);
    --text-listHover: hsl(236, 33%, 92%);
    --text-filters: hsl(234, 11%, 52%);
    --border: hsl(233, 14%, 35%);
    --text-complete: hsl(237, 14%, 26%);
}

@media screen and (min-width:1024px){
    .lightTheme{
        background-image: url('assets/images/bg-desktop-light.jpg');
    }

    .darkTheme{
        background-image: url('assets/images/bg-desktop-dark.jpg');
    }
}
html, body { height: 100%; }